body{
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 10px 20px;
}

.navbar .logo {
  background-color: #008080;
  padding: 5px 10px;
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  padding: 0 15px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

