body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

main {
  margin: 0 auto;
}

figure {
  margin: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 15px 20px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0)
  );
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

/* .navbar .logo {
  background-color: #008080;
  padding: 5px 10px;
} */

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  padding: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.menu-icon {
  display: none;
}

/* Carousel */
.carousel-container {
  display: flex;
  height: 100vh;

  padding: 120px 15px;
}
.button-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-wrapper {
  position: relative;
  flex: 10;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
}

.carousel-item.active {
  opacity: 1;
  z-index: 5;
}

.itemPoster {
  flex: 3;
  display: flex;
  justify-content: end;
  position: relative;
}

.itemPoster img:nth-child(2) {
  width: 100%;
}

.scoreMovie {
  position: absolute;
  top: -25px;
  left: -25px;
  width: 75px;
  height: 75px;
  background-color: #554f95;
  color: white;
  font-size: 15px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.scoreMovie p {
  margin: 0;
}
.scoreMovie p span {
  font-weight: bolder;
}
.itemInfo {
  flex: 6;
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.itemText {
  border: 2px solid #554f95;
  background-color: rgba(217, 217, 217, 0.8);
  padding: 15px 30px;
  max-width: 85%;
  border-radius: 10px;
}

.itemText h1 {
  font-size: 35px;
  padding-bottom: 20px;
  position: relative;
  color: #181818;
}
.itemText h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 95%;
  height: 2px;
  background-color: black;
}

.itemText p {
  font-size: 18px;
  color: #3a3a3a;
}
.itemBtns {
  display: flex;
  justify-content: space-evenly;
}

.TrailerImg {
  position: relative;
  width: 100px;
  cursor: pointer;
}
.TrailerImg img {
  width: 100px;
}
.TrailerImg div {
  position: relative;
}
.TrailerImg div::after {
  content: "";
  position: absolute;
  bottom: 28%;
  left: 10%;
  width: 80%;
  height: 45%;
  background-color: #554f95;
  z-index: -1;
}

.TrailerImg figcaption {
  color: white;
  position: absolute;
  bottom: 0;
  left: 15%;
}

/* Cartelera */
.grid-wrapper {
  background-color: #2a303c;
  padding: 5%;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  /* align-items: stretch;   */
}

.grid-item {
  padding: 2px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.grid-item h3 {
  margin-bottom: auto;
}

.grid-item img {
  width: 100%;
  max-height: 300px;
  margin-top: 10px;
}

.grid-item button {
  background-color: #554f95;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Movie Review */
.section-review {
  background-color: #282828;
  padding: 5%;
}
.review-title {
  color: white;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}

input,
textarea,
select {
  background-color: #282828;
  color: white;
  border: 2px solid #554f95;
  padding: 5%;
  border-radius: 4px;
  margin-top: 10px;
  width: -webkit-fill-available;
}

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.labelTop {
  position: absolute;
  margin: 0;
  top: 0px;
  left: 12px;
  background: #282828;
  padding: 1px;
}

.input-wrapper textarea{
  height: 200px;
  resize: none;
  /* pointer-events: none; */
}

.movie-review-form {
  color: white;
  max-width: 400px;
  width: 100%;
}

.movie-review-form .form-buttons {
  display: flex;
  justify-content: center;
}

.movie-review-form button {
  padding: 10px 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.movie-review-form button[type="submit"] {
  background-color: #282828;
  border: 2px solid #554f95;
  color: white;
}

.movie-review-form button[type="button"] {
  background-color: #282828;
  color: white;
}

.success-message{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .nav-links {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}

/* .container {
  width: 100%;
  max-width: 1536px;

  @media (max-width: 1535px) {
    max-width: 1280px;
  }

  @media (max-width: 1279px) {
    max-width: 1024px;
  }

  @media (max-width: 1023px) {
    max-width: 768px;
  }

  @media (max-width: 767px) {
    max-width: 640px;
  }
} */
